/* ************************************************************** */
/* STORY                                                          */
/* ************************************************************** */
div#pane_contents {
    background-repeat: no-repeat;
  }
  
  #main_wrapper > div > p {
    line-height: 2em;
  }
  
  @media all and (min-width: 1300px) {
    div#pane_contents {
      background-position: 400px 100%;
    }
  }
  
  @media all and (max-width: 1299px) and (min-width: 768px) {
    div#pane_contents {
      background-position: 0% 100%;
    }
  }
  
  @media all and (min-width: 768px) {
    div#pane_contents {
      background-image: url("https://media.fromsoftware.jp/fromsoftware/manual/eldenring/resources/images/story/background_w.jpg");
      background-size: 1520px 1318px;
    }
    #main_wrapper > div > p {
      text-align: center;
    }
  }
  
  @media all and (max-width: 767px) {
    div#pane_contents {
      background-image: url("https://media.fromsoftware.jp/fromsoftware/manual/eldenring/resources/images/story/background_n.jpg");
      background-position: 0% 100%;
      background-size: 100% auto;
    }
    #main_wrapper > div > p {
      font-size: .9em;
    }
  }
  